.image{
    width: 20%;
    margin: 5px;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    box-shadow: 0px 0px 30px rgb(104, 174, 255);
}

.details-container{
    background-color: rgba(255, 255, 255, 0.336);
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

.reviews{
    background-color: rgba(255, 255, 255, 0.336);
    margin: auto;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

span{
    margin-right: 10px;
    text-decoration: underline;
}

.overview{
    width: 75%;
    margin: auto;
}

.overview, .head{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: x-large;
}

.score{
    font-size: xx-large
}
.user{
    float: left;
    font-size: larger;
}

.date, .platforms{
    float: right;
    font-size: small;
}

.com, .rate{
    font-size: larger;
}