


#nav{
    background-color: rgba(255, 255, 255, 0.336);
    float: top;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 1px;
    font-family: 'Neonderthaw', cursive;
}

.log-btn:hover{
    border-width: 5px;
}

#log-btn{
    float: right;
    border-radius: 5px;
    margin: 5px;
    border-width: 1px;
}

#home-link{
    float: left;
    border-radius: 5px;
    margin: 5px;
    border-width: 1px;
}

.neon{
    text-align: center;
    color: rgba(0, 0, 0, 0);
    animation: flicker 3.5s infinite alternate;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 1px #fff,
        0 0 6px #fff,
        0 0 10px rgb(0, 140, 255),
        0 0 20px rgb(0, 140, 255),
        0 0 50px rgb(65, 169, 255),
        0 0 70px rgb(119, 194, 255);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
  
.greet{
    /* color: white; */
    float: right;
    margin: 7px;
    font-size: larger;
}